# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dataset
data/raw/
data/processed/

# Trained model files
trained_models/*.pth
trained_models/*.pt